@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --bg-gray: #f9f6ff;
    --text-gray: #a8a4a4;
    --color-primary: #000000;
    --white: #ffff;
    --text-light-gray: rgb(129, 127, 127);
    --color-secundary: #3ca300;
    --footer-color: rgb(231, 225, 225);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 150px;
    display: flex;
    align-items: center;
}

footer {
    background: var(--footer-color);
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
}



/* fim navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}


nav a {
    font-size: 12px;
    font-weight: 400;
}

a,a:hover {
    text-decoration: none;
    color: var(--color-primary);
}


.GigaMais-contact-container {
    display: flex;
    align-items: center;

}

.GigaMais-contact-container img {
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px 10px 10px 10px;
    width: 100px;
}

.GigaMais-contact-container a {
    font-size: 15px;
    font-weight: 700;
}

/* button */
.GigaMais-btn,GigaMais-btn:hover {
    width: 150px;
    height: 40px;
    background-color: var(--color-secundary);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 0;
}

/* conteudo index */
body {
    overflow-x: hidden;
}

div.menu {
    margin-top: 20vh;
    margin-bottom: 24vh;
    display: flex;
    justify-content: center;

}

main.cards {
    display: flex;
    padding: 32px;

}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    height: 290px;
    width: 290px;
}


main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 80px;
    height: 80px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}


div.text-span {

    margin-left: 5px;
    margin-right: 5px;
}


section.teste  {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.potencia  {
    display: flex;
    justify-content: center;
    align-items: center;  
}

section.sem  {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.jogos  {
    display: flex;
    justify-content: center;
    align-items: center;  
}

section.fatura  {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.fale {
    display: flex;
    justify-content: center;
    align-items: center;  
}


main.cards section.card.teste {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.potencia {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.sem {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.jogos {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.fatura {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.fale {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

nav.rodape-index {
    display: flex;
    position: relative;
    width: 100%;
    background: var(--footer-color);
}

div.rede-social {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.rede-social img {
    padding: 1px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

/* conteudo velocidade */

.menu-fast {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 8vh;
}

.btn-velocidade {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    gap: 20px;
    bottom: 0;
}

/* Fale conosco */



/* conteudo responsivo */
@media screen and (max-width: 720px) {
    body {
        width: 100%;
    }

    footer {
        position: relative;
        width: 100%;
        padding: 0;
    }
    /* conteudo index */
    div.menu {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    .GigaMais-contact-container img {
        display: none;
    }

    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
    /* rede-social rodape */
    .rede-social img {
        padding: 1px;
        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .menu-fast {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
        margin-bottom: 8vh;
        max-width: 720px;
        max-height: 720px;
    }

    .menu-fast img {
        width: 100%;
        height: 100%;
    }


}