
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --bg-gray: #f9f6ff;
    --text-gray: #a8a4a4;
    --color-primary:#000000;
    --white: #ffff;
    --text-light-gray: rgb(129, 127, 127);
    --color-secundary: #3ca300;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 90px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}


nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover  {
    text-decoration: none;
    color: var(--color-primary);
}

body {
    overflow-x: hidden;
    
}

.menu-container {
    display: flex;
    justify-content: center;
    
}

.GigaMais-contact-container {
    display: flex;
    align-items: center; 
     
}

.GigaMais-contact-container img {
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px 10px 10px 10px;
    width: 100px;
}

.GigaMais-contact-container a {
    font-size: 15px;
    font-weight: 700;
}

.GigaMais-btn, GigaMais-btn:hover {
    width: 150px;
    height: 40px;
    background-color: var(--color-secundary);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 0;
}


main.cards {
    display: flex;
    padding: 32px;

}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;

}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}


main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: var(--white);
}

main.cards section.card.teste{
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.potencia {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.sem {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.fatura {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.jogos {
    box-shadow: 20px 20px 50px -30px #5cc753;
}

main.cards section.card.fale {
    box-shadow: 20px 20px 50px -30px #5cc753;
}


@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
}

main.conteudo-principal{
    margin: 10px auto;
    border-right: 2px solid rgb(241, 241, 241);
    border-left: 2px solid rgb(241, 241, 241);

}
section.conteudo-txt{
    margin-left: 400px;
    margin-right: 400px;
    border: 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
}
.span-txt {
    font-size: 18px;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 30px;
    
}
t1 {
    font-size: 50px;
    font-weight: 500;
}
t2 {
    font-size: 20px;
}
