
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --bg-gray: #f9f6ff;
    --text-gray: #a8a4a4;
    --color-primary: #000000;
    --white: rgb(255, 255, 255);
    --text-light-gray: rgb(129, 127, 127);
    --color-secundary: #3ca300;
    --footer-color: rgb(231, 225, 225);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 110px;
    display: flex;
    align-items: center;
}

footer {
    background: var(--footer-color);
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}
/* fim conteudo priciapal */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a,a:hover {
    text-decoration: none;
    color: var(--color-primary);
}

.home:hover {
    display: flex;
    border-radius: 1rem;
    border-style: solid;
    border-color: #56ee48;
}

/* fim conteudo navbar */

.conteudo-rodape {
    height: 100%;
    width: 100%;
    justify-content: space-between;

}

.info-rodape {
    display: flex;
    font-size: 15px;
    margin-top: 35px;
}

/* fim conteudo rodape */

.GigaMais-contact-container {
    display: flex;
    align-items: center;
}

.GigaMais-contact-container img {
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px 10px 10px 10px;
    width: 100px;
}

.GigaMais-contact-container a {
    font-size: 15px;
    font-weight: 700;
}

/* button */
.GigaMais-btn,GigaMais-btn:hover {
    width: 150px;
    height: 40px;
    background-color: var(--color-secundary);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 0;
}

/* conteudo index */
body {
    overflow-x: hidden;
    
}
.titulo-bg {
    background-color: var(--color-primary);
}

.titulo {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: var(--text-gray);
    background-color: var(--bg-gray);
}

.rompimento {
    display: flex;
    width: 100%;
    height: 150px;
    margin-top: 25px;
    max-width: 100%;
    background: rgb(236, 226, 78);
}

.rompimento img {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

main.cards {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

div.cont-um {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

div.cont-dois {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 5vh;
}

div.cont-tres {
    display: flex;
    flex-direction: row;
    justify-content:center ;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    gap: 15px;
    height: 290px;
    width: 250px;
    margin-bottom: 5rem;
}


main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 80px;
    height: 80px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}


div.text-span {

    margin-left: 5px;
    margin-right: 5px;
}


section.teste  {
    display: flex;
    justify-content: center;
    align-items: center;
}


section.potencia  {
    display: flex;
    justify-content: center;
    align-items: center;  
}

section.sem  {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.jogos  {
    display: flex;
    justify-content: center;
    align-items: center;  
}

section.fatura  {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.fale {
    display: flex;
    justify-content: center;
    align-items: center;  
}

section.video {
    display: flex;
    justify-content: center;
    align-items: center;  
}

main.cards section.card.teste:hover {
    box-shadow: 30px 30px 70px -30px #5cc753;
}

main.cards section.card.potencia:hover {
    box-shadow: 30px 30px 70px -30px #5cc753;
}

main.cards section.card.sem:hover {
    box-shadow: 30px 30px 70px -30px #5cc753;
}

main.cards section.card.jogos:hover {
    box-shadow: 30px 30px 70px -30px #5cc753;
}

main.cards section.card.fatura:hover {
    box-shadow: 30px 30px 70px -30px #5cc753;
}

main.cards section.card.fale:hover {
    box-shadow: 30px 30px 70px -30px #5cc753;
}

main.cards section.card.video:hover {
    box-shadow: 30px 30px 70px -30px #5cc753;
}


.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

div.rede-social {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.rede-social img {
    padding: 1px;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
}

/* conteudo teste-velo */

.icon-dica{
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 32px;
}

.icon-dica img {
    display: flex;
    width: 70px;
    padding: 0;
}

.menu-velocidade {
    background-color:  rgb(248, 248, 248);
    height: 120px;
    padding-top: 2vh;
}

.titulo-velo {
    font-size: 35px;
    justify-content: center;
    margin-top: 2rem;
    border-bottom: solid;
    margin-bottom: 2rem;
}

.teste-eaq{
    text-align: left;
    padding: 60px;
    margin-top: 5vh;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 35vh;
    
}

.conteudo-eaq {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-top: 0;
}

/* conteudo sinal */


.conteudo-sinal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 10rem;
    gap: 5vh;
   
}

.alerta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.alerta-sinal {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #a1a19f, #2e2c2c);
    max-height: 320px;
    border-radius: 1rem;
    width: 55rem;
    height: 100%;
    padding-top: 10px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}

.alerta-sinal:hover {
    background: linear-gradient(to right, #4abb15, #616060);
    color: var(--color-primary);
}

.wifi {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    max-height: 490px;
    border-radius: 1rem;
}

.wifi:hover {
    box-shadow: 30px 30px 70px -30px var(--color-primary)
}


/* conteudo conexao */

.conteudo-dica {
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
    flex-direction: column;
}


.menu-equipamentos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10vh;
}

div.equip:hover {
    box-shadow: 30px 30px 70px -30px var(--color-primary);
}

div.equip {
    display: flex;
    align-items: center;
    max-width: 420px;
    max-height: 490px;
    border-radius: 1rem;
}

/* conteudo jogos */ 

section .container {
    display: flex;
    flex-direction: column;
}


.conteudo-jogos {
    text-align: left;
    padding: 60px;
    margin: 10% 10% auto; 
    border: 2px solid rgb(235, 235, 235);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 15vh;
}
.tracert {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

.ping-jogos{
    width: 100% ;
    max-width: 300px;
    max-height: 300px;
}
.up-jogos {
    width: 100% ;
    max-width: 500px;
    max-height: 300px;

}
.down-jogos {
    width: 100% ;
    max-width: 500px;
    max-height: 300px;
}


/* conteudo responsivo */
@media screen and (max-width: 470px) {
    body {
        width: 100%;
        height: 100%;
    }

    footer {
        position: fixed;
        width: 100%;
        padding: 0;
    }

 
    .info-rodape {
        display: none;
        font-size: 9px;
        margin-top: 0;
        text-align: center;
    }

    /* conteudo index */
   

    .rompimento-body {
        font-size: 11px;
    }
    
    .rompimento img {
        display: flex;
        align-items: center;
        margin-top: 15px;
        width: 50px;
        height: 50px;
    }

    .titulo {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: var(--text-gray);
        background-color: var(--bg-gray);
    }


    .GigaMais-contact-container img {
        display: none;
    }

    div.container {
        display: flex;
        justify-content: space-around;
        height: 100%;
        margin-top: 2vh;
    }

    div.row {
        display: flex;
        margin-right: 0;
    }

    div.cont-um {
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }

    div.cont-dois {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        margin-top: 5vh;
    }

    /* div.cont-tres {
        display: flex;
        margin-bottom: 7vh;
    } */

    main.cards section.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: var(--white);
        padding: 1rem 1.5rem;
        border-radius: 8px;
        max-height: 468px;
        gap: 5px;
        height: 130px;
        width: 105px;
        margin-bottom: 5rem;
    }

    .GigaMais-btn,GigaMais-btn{
        display: none;
    }

    main.cards section.card .icon {
        height: 55px;
        width: 55px;
    }
    
    main.cards section.card img {
        width: 100%;
    }

    main.cards section.card h3 {
        font-size: 10px;
        margin: 10px 0;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
    /*  rodape */
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 0;
    }

    .rodape-logo {
        display: flex;
        margin: 32px 32px 32px 32px;
    }

    .rede-social {
        margin-right: 100px;
    }

    .rede-social img {
        padding: 1px;
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    
    /* conteudo teste-velo */

    .icon-dica{
        display: flex;
        padding: 0;
        width: 100%;
        justify-content:space-around;
        flex-direction: row;
        gap: 2px;
    }
    
    .icon-dica img {
        display: flex;
        flex-direction: row;
        width: 32px;
        padding: 0;
    }

    .teste-eaq {
        font-size: 15px;
    }

    .titulo-velo {
        font-size: 20px;
    }
 
    /* Conteudo sinal */

    .alerta-sinal {
     display: flex;
     width: 100%;
     text-align: center;
    }
    
    .conteudo-sinal {
        display: flex;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 15rem;
        flex-direction: row;
        gap: 5px;
    }

    .wifi {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        max-width: 100px;
        max-height: 300px;
        border-radius: 1rem;
    }
    
    .wifi:hover {
        box-shadow: 30px 30px 70px -30px var(--color-primary)
    }

    /* conteudo conexao */

    .menu-equipamentos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 15vh;
        width: 100%;
    }

    
    .conteudo-dica {
        display: flex;
        justify-content: center;
        margin-bottom: 12vh;
    }

    div.equip {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        max-width: 100px;
        max-height: 150px;
    }

    div.equip:hover {
        box-shadow: 20px 20px 50px -30px #3ca300;
    }

    div.aviso {
        font-size: 8px;
        
    }

    /* conteudo jogos  */

    section .container {
        display: flex;
        flex-direction: column;
    }

    .conteudo-jogos {
        text-align: left;
        padding: 15px;
        margin: 10% 10% auto; 
        border: 2px solid rgb(235, 235, 235);
        border-radius: 5px;
        background-color: rgb(248, 248, 248);
        margin-bottom: 15vh;
        font-size: 15px;
    }

    .tracert {
        width: 100%;
        max-width: 500px;
        max-height: 500px;
    }
    
    .ping-jogos{
        width: 100% ;
        max-width: 300px;
        max-height: 300px;
    }
    .up-jogos {
        width: 100% ;
        max-width: 500px;
        max-height: 300px;
    
    }
    .down-jogos {
        width: 100% ;
        max-width: 500px;
        max-height: 300px;
    }
}   
